/*-- scss:defaults --*/


// Colors
$dark-green: #5d6455;
$light-green: #61714d;
$brown: #7b7167;
$blue: #495c60;
$maroon: #925833;

// Base document colors
$navbar-bg: $maroon; // navbar
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: $light-green; // highlight color when hovering over navbar links
$body-bg: $blue; // page background
$body-color: $brown; // page text
$footer-bg: $brown; // footer
$link-color: $brown; // hyperlinks

// Inline code
$code-bg: $brown; // inline code background color
$code-color: $maroon; // inline code text color







